.bg-girozero{
  background-color: #00a099!important;
}

.welcome-image{
  background-image:url('../assets/img/girozero/welcome-image.jpg');
}

.text-girozero{
  background: #00A099;
  background: linear-gradient(to right, #00A099 30%, #6EBBAD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient-girozero{
  background: linear-gradient(to right, #00A099 30%, #6EBBAD 100%);
}

.btn.bg-gradient-girozero, .btn.bg-gradient-girozero:hover{
  color:white;
}

.bg-gray{
  background-color: #ececec;
}

.bg-red{
  background-color: red;
}

.bg-score{
  background-color: #217541;
  color: white!important;
}

.d-none{
  display:none!important;
}

.break{
    word-wrap: break-word;
    min-width: 50px;
    max-width: 60px;"
}

.sidenav-footer{
  position:absolute;
  bottom: 10px;
  font-size: 11px
}
