{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Sign UP {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <section>
    <div class="page-header section-height-75">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
            <div class="card card-plain mt-8">
              <div class="card-header pb-0 text-left bg-transparent text-center">
                <img src="/static/assets/img/girozero/girozero-logo.png" width="70px" height="auto" alt="">
                <h3 class="font-weight-bolder text-info text-girozero mt-2">Gestor Clientes</h3>
              </div>
              <div class="card-header pb-0 text-left bg-transparent">
                <p class="mb-0">
                    {% if msg %}
                        {{ msg | safe }}
                    {% else %}
                        Agregue sus credenciales
                    {% endif %}                 
                </p>
              </div>
              <div class="card-body">
                <form role="form text-left" method="post" action="">
                  
                  {% csrf_token %}

                  <label>Usuario</label>
                  <div class="mb-3">
                    {{ form.username }}
                  </div>
                  <span class="text-error">{{ form.username.errors }}</span>

                  <label>Correo</label>
                  <div class="mb-3">
                    {{ form.email }}
                  </div>
                  <span class="text-error">{{ form.email.errors }}</span>
                  
                  <label>Contraseña</label>
                  <div class="mb-3">
                    {{ form.password1 }}
                  </div>
                  <span class="text-error">{{ form.password1.errors }}</span>

                  <label>Confirmar contraseña</label>
                  <div class="mb-3">
                    {{ form.password2 }}
                  </div>
                  <span class="text-error">{{ form.password2.errors }}</span>

                  <label>Empresa</label>
                  <div class="mb-3">
                    {{ form.empresa }}
                  </div>
                  <span class="text-error">{{ form.empresa.errors }}</span>

                  <label>Cargo</label>
                  <div class="mb-3">
                    {{ form.cargo }}
                  </div>
                  <span class="text-error">{{ form.cargo.errors }}</span>

                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="rememberMe" checked="">
                    <label class="form-check-label" for="rememberMe">Terminos y condiciones</label>
                  </div>
                  <div class="text-center">
                    <button type="submit" name="register" class="btn bg-girozero w-100 mt-4 mb-0">Registrar</button>
                  </div>
                </form>
              </div>
              <div class="card-footer text-center pt-0 px-lg-2 px-1">
                <p class="mb-4 text-sm mx-auto">
                  ¿Tienes una cuenta? 
                  <a href="{% url 'login' %}" 
                     class="text-girozero  font-weight-bold">Iniciar Sesión</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
              <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('/static/assets/img/girozero/welcome-image.jpg')"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>

{% endblock javascripts %}
