{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!-- [ Main Content ] start -->
<div class="container-fluid py-4">
    {% if messages %}
        {% for message in messages %}
            <div class="bg-girozero text-center notification {{ message.tags }}">
                <h4>{{ message }}</h4> <br>
            </div>
        {% endfor %}
    {% endif %}
    <hr>
    <div class="row">
        <div class="col-xl-12">
            <a href="{% url 'ciudades_create' %}" class="btn btn-secondary btn-block mb-2">Crear Ciudad</a>
            <br>
            <div class="card">
               
                <div class="table-responsive">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th
                                    class="text-girozero text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Nombre</th>
                                <th
                                    class="text-girozero text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Pass</th>
                                <th
                                    class="text-girozero text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Email</th>
                                <th
                                    class="text-girozero text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ciudad in ciudades %}
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-xs">{{ciudad.name}}</h6>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle text-center">
                                    <p class="text-xs font-weight-bold mb-0">{{ciudad.passw}}</p>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">{{ciudad.email}}</span>
                                </td>
                                <td class="align-middle text-center">
                                    <a href="{% url 'ciudades_update' pk=ciudad.id %}" class="btn btn-secondary btn-block mb-2">Editar</a>
                                    <a href="{% url 'ciudades_delete' ciudad.id %}" class="btn btn-secondary btn-block mb-2">Eliminar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                      
                </div>
            </div>
        </div>
    </div>
    {% include "includes/footer.html" %}
</div>



<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}