{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!-- [ Main Content ] start -->
<div class="container-fluid py-4">
    {% if messages %}
        {% for message in messages %}
            <div class="bg-girozero text-center notification {{ message.tags }}">
                <h4>{{ message }}</h4> <br>
            </div>
        {% endfor %}
    {% endif %}
    <hr>
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="col-xl-12 col-md-6 mb-4">
                    <form enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button class="btn btn-success btn-block" type="submit">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include "includes/footer.html" %}
</div>



<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}