<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
  navbar-scroll="true">
  <div class="container-fluid px-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
      <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Página</a></li>
      <li class="breadcrumb-item text-sm text-dark active text-capitalize" aria-current="page">{{segment}}</li>
      </ol>
      <h6 class="font-weight-bolder mb-0 text-capitalize"></h6>
  </nav>
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4 d-flex justify-content-end" id="navbar">
      <div class="ms-md-3 pe-md-3 nav-item d-flex align-self-end">
        <a href="https://girozero.uniandes.edu.co">
          <img src="/static/assets/img/girozero/girozero-logo.png" class="navbar-brand-img h-100" width="50" alt="...">
        </a>
      </div>
      <ul class="navbar-nav  justify-content-end">
        <li class="nav-item d-flex align-items-center">
          <a href="{% url 'logout' %}" class="nav-link text-body text-uppercase font-weight-bold px-0">
            Salir
          </a>
        </li>
        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>