
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg  blur blur-rounded top-0  z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
          <div class="container-fluid">
            <img src="/static/assets/img/girozero/ukpact-logo.jpg" width="auto" height="30px" alt="">
            <img src="/static/assets/img/girozero/uniandes-logo.jpg" width="auto" height="30px" alt="">
            <img src="/static/assets/img/girozero/cardiff-logo.jpg" width="auto" height="30px" alt="">
            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
            </button>
            <div class="collapse navbar-collapse" id="navigation">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                  <a class="nav-link me-2" href="{% url 'login' %}">
                    <i class="fas fa-key text-dark me-2"></i>
                    Iniciar Sesión
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-2" href="{% url 'register' %}">
                    <i class="fas fa-user-circle text-dark me-2"></i>
                    Registrarse
                  </a>
                </li>
              </ul>
              <ul class="navbar-nav d-lg-block d-none">
                <li class="nav-item">
                 
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- End Navbar -->
      </div>
    </div>
  </div>
