<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
  navbar-scroll="true">
  <div class="col-12 col-xl-12">
    <div class="card mb-4">
      <div class="card-header pb-0 p-3">
        <div class="row">
          <div class="col-md-8 d-flex align-items-center">
            <h6 class="mb-0">Escala de evaluación</h6>
          </div>
        </div>
      </div>
      <div class="card-body p-3">
        <div class="text-center">
          <img style="height: 300px;" src="/static/assets/img/girozero/AHP.png" />
        </div>
      </div>
    </div>
  </div>
</nav>